<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="{% url 'home' %}">
            <h1>Blog de animales domesticos</h1>
            <div>
                <a href="{% url 'article-create' %}">Crear nuevo artículo</a>
            </div>
        </a>

        <!-- registro -->
        <div>
            {% if user.is_authenticated %}
                ,<span>Bienvenido {{ user.username }}!</span>
                <a href="{% url 'logout' %}">Cerrar sesión</a>
            {% else %}
                <a href="{% url 'login' %}">Iniciar sesión</a>
                <a href="{% url 'signup' %}">Registrarse</a>
            {% endif %}
        </div>
    </header>

    {% block content %}

    {% endblock content %}

    <footer>
        <p>&copy; 2026 Blog de animales domesticos. Todos los derechos reservados.</p>
    </footer>
</body>
</html>